body{
   background: #666666;
   font-family: "Times New Roman", Times, serif;
        }
h1, h2, h3, h4{
   color:#FF0000;
        }
a{
   color:blue;
        }
p{
  background: purple;
  width:      13%;
  padding:    10px 0px;
        }
.diff{
        background: red;
        color:      white;
        }
~            
